<% name = id.to_s.titleize %>
<% value = default.instance_of?(Time) ? default.strftime("%Y-%m-%d") : default %>
<div>
  <%= form.label "date_#{id}", value: name %>
  <%= form.date_field "date_#{id}", value: value, class: "form-input" %>
</div>