<table class="grow">
  <% rows = @report.rows %>
  <% rows.each do |row| %>
    <% header = (row == rows.first) %>
    <%= render partial: "partials/row", locals: { columns: row.columns, header: header } %>
  <% end %>
</table>