<tr>
  <% columns.each do |column| %>
    <% if header %>
      <th class="px-4 py-2 border-b border-gray-400 text-start"><%= simple_format(column.output.to_s) %></th>
    <% else %>
      <td class="px-4 py-2 border-b border-gray-300"><%= simple_format(column.output.to_s) %></td>
    <% end %>
  <% end %>
</tr>